.experienceCard{
    /* margin-left: 40px; */
    width: 25vw;
    background-color: #5b595969;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow:#17a3e65e 0px 4px 24px;
    /* box-shadow: 0px 0px 29px 9px rgba(0, 209, 255, 0.25); */
    border: 1px solid var(--main-color); 
}

.experienceCard:hover{
    cursor: pointer;
}

.experienceCard .mainContent .title{
    color: var(--main-color);
    font-size: 1.1rem;
}

.experienceCard .mainContent .date{
    font-size: .8rem;
    color: #D8D8D8;
}


.experienceCard :is(.desc, .name){
    font-size: .8rem;
    text-align: justify;
    color: #CACACA;
}
.experienceCard .name{
    font-style: italic; 
    font-weight: 700;
}

/* ============Media Query================= */

@media only screen and (max-width: 1217px) { 
    .experienceCard{
        width: 30%;
    }
}


@media only screen and (max-width: 1000px) {
    .experienceCard{
        width: 40%;
    }
    
}

@media only screen and (max-width: 900px) {
  .experienceCard {
      width: 42vw;
  }
}

@media only screen and (max-width: 700px) {
    .experienceCard {
        width: 60vw;
        margin-left: 0;
    }


  
}

@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 400px) {

}

