.rightSideContainer{
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.rightSideContainer .list{ 
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
}

.rightSideContainer .row{
    border-right: 5px solid transparent;
}
.rightSideContainer .row .name{
    font-size: 1.1rem;
}

.rightSideContainer .row:not(:first-child) .name{
    margin-top: 30px;
}

.rightSideContainer .row .desc{
    font-size: .8rem;
    margin-bottom: 15px;
    padding-right: 16px;
    text-align: justify;
}

.rightSideContainer .active .name{
    color: var(--main-color);
}

.rightSideContainer .active{
    border-right: 4px solid var(--main-color);
}

.rightSideContainer .row:hover{
    cursor: pointer;

}

hr{
    background: linear-gradient(to right, grey, transparent);
    height: 2px;
    border: none;
}