/* nav{
    position: fixed;
    top: 35%; 
    left: 0;
    padding-left: 10px ;
    z-index: 99;
}

nav .column{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

nav .top_section{
    display: flex;  
    align-items: center; 
    width: 100%;
    transition: all 1s;
    padding-bottom: 20px;
}

nav .routes{ 
    padding: 2px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 20px;
}

nav .routes .link div, nav .routes .link svg{

    background-color: transparent;
}

nav .routes .link{
    display: flex;
    gap: 10px; 
    transition: 0.2s cubic-bezier(0.6, -0.28,0.735, 0.045);
    border-right: 4px solid transparent;
}

nav .routes .link:hover{
    border-right: 4px solid var(--main-color);
    transition: 0.2s cubic-bezier(0.6, -0.28,0.735, 0.045);
}


nav .routes .link_text{
    white-space: nowrap;
}


nav .routes .link:hover .link_text,
nav .routes .link:hover .icon svg path
{
    color: var(--main-color);
}

nav .routes .active{
    border-right: 4px solid var(--main-color);
}

nav .routes .active .link_text,
nav .routes .active .icon svg path
{
    color: var(--main-color);
}

 */

nav{
    width: 100vw;
    /* background-color: red; */
    position: fixed;
    bottom: 2rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

nav .navigationContainer{
    background: #4a4a4a5e;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    gap: 25px;
    border-radius: 60px;
}

nav .navigationContainer .round{
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    transition: .5s all;
}

nav .navigationContainer .round:hover{
/*     
    background-color: #474747; */
    cursor: pointer;
}

nav .navigationContainer .round .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
} 

 

nav .navigationContainer .round .icon {
    background-color: transparent;
}

nav .navigationContainer .round .icon svg path{
    color: #bfbfbf; 
} 

nav .navigationContainer .round:hover .icon svg path
{
    color: white
}

nav .navigationContainer .active .icon svg path
{
    color: black;
}

nav .navigationContainer .active{
    background-color: var(--main-color);
}

nav .navigationContainer .active:hover .icon svg path{
    color: black;
}