nav{
    position: fixed;
    top: 35%; 
    left: 0;
    padding-left: 10px ;
    z-index: 99;
}

nav .column{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

nav .top_section{
    display: flex;  
    align-items: center; 
    width: 100%;
    transition: all 1s;
    padding-bottom: 20px;
}

nav .routes{ 
    padding: 2px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 20px;
}

nav .routes .link div, nav .routes .link svg{

    background-color: transparent;
}

nav .routes .link{
    display: flex;
    gap: 10px; 
    transition: 0.2s cubic-bezier(0.6, -0.28,0.735, 0.045);
    border-right: 4px solid transparent;
}

nav .routes .link:hover{
    border-right: 4px solid var(--main-color);
    transition: 0.2s cubic-bezier(0.6, -0.28,0.735, 0.045);
}


nav .routes .link_text{
    white-space: nowrap;
}


nav .routes .link:hover .link_text,
nav .routes .link:hover .icon svg path
{
    color: var(--main-color);
}

nav .routes .active{
    border-right: 4px solid var(--main-color);
}

nav .routes .active .link_text,
nav .routes .active .icon svg path
{
    color: var(--main-color);
}


