.introContainer { 
    height: 100vh;
    padding-top: 40px; 
    /* background-color: black; */
    overflow-x: hidden;

} 
.introContainer .mainPhoto{
    /* z-index: 3; */
    height: 50vh;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 24vw;
    margin: 0 auto;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(180deg, #5dcefd,#3f99be,#1e5c76, transparent);
}

.introContainer .mainPhoto img{
    width: 85%;  
    background: transparent;
}

.introContainer .intoTitle{ 
    text-align: center; 
    padding-top: 40px;
}

#name{
    font-size: 3rem;
    font-size: 600;   
}

#skillsNames{
    font-size: 1.2rem;
    color: #5dcefd;
    font-size: 500;
    width: 100%;
}

.introContainer .buttons{
    padding-top: 35px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.introContainer .buttons button{
    width: 150px;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#textCursor{
    color: var(--main-color);
    padding-left: 2px;
    font-size: 1.2rem;
    animation: blink .5s infinite;
}

.introContainer .links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 10px;
    bottom: 50px;
    background: transparent; 
    padding: 5px;
    border-radius: 4px;
    transition: all .5s ease;
} 

.introContainer .links a:hover path{
    color: var(--main-color);
}

 /* ============Media Query================= */

 @media only screen and (max-width: 1334px) {
    .introContainer .mainPhoto {
        height: 45vh;
    }
  }


  @media only screen and (max-width: 1000px) {
    .introContainer .mainPhoto {
        height: 40vh;
        width: 28vw;
    }
  }

  @media only screen and (max-width: 900px) {
    .introContainer .mainPhoto {
        width: 32vw;
    }
  }

  @media only screen and (max-width: 700px) {
    .introContainer .mainPhoto {
        width: 38vw;
    }
  }

  @media only screen and (max-width: 600px) {
    .introContainer{
        background-color: black;
    }
    .introContainer .mainPhoto {
        width: 60vw;
        height: 50vh;
    }
    .introContainer .background{
        display: none;
    }
  }
  @media only screen and (max-width: 500px){
    .introContainer .mainPhoto {
        width: 75vw;
        /* height: 38vh; */
    }
  }
  @media only screen and (max-width: 400px) {
    .introContainer{
        height: auto;
        padding-bottom: 12vh;
    }
    .introContainer .mainPhoto {
        width: 70vw;
        height: 38vh;
    }

    .introContainer .links{
        top: 125px;
    }

    #name{
        font-size: 2.5rem;
        padding-top: 2vh;
    }
    .introContainer .buttons {
        padding-top: 66px; 
    }
  }

@media only screen and (max-width: 300px) {
    .introContainer .mainPhoto{
        height: 34vh;
    }
}


/* background css */

.introContainer .background{
    position: absolute;
    left: 50%; 
    top: 0;
    width: 100%; 
    height: 120%;
    background-color: black;
    transform: translateX(-50%);
    z-index: -1;
}

.introContainer .opacity-shade{
    opacity: 1;
    background: linear-gradient(0deg, black 20%, #0f252e2e);
}

.introContainer .background img{
    opacity: .2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}