.experienceContainer{
    background-color: black;
    min-height: 100vh;
    width: auto;
    /* padding-left: 100px; */
    overflow: hidden;
    padding-top: 30px ;
}

.experienceContainer .top .subtitle{
    font-size: .9rem;
    color: silver;
    padding: 20px 0;
}
 
.experienceContainer .top .title{
    font-size: 3rem;
    font-weight: 600;
    color: var(--main-color);
    padding-bottom: 30px;
}

.experienceContainer .bottom{
    position: relative;
    /* height: 80vh; */
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experienceContainer .subSection{
    display: flex;
    gap: 35px;
    /* height: 33vh; */
}

.experienceContainer .subSection .left{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    align-items: center;
}

.experienceContainer .vertical_line{
    height: 100%; 
}

.experienceContainer .vertical_line div{
    width: 2px;
    height: 100%; 
    background-color: var(--main-color);
}

.experienceContainer .left svg path{
    color: var(--main-color);
}

/* .experienceContainer .roadmapLogo{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experienceContainer .verticalLine{
    width: 2px;
    height: 30%;
    background-color: var(--main-color);
    box-shadow: 0px 0px 37px 7px rgba(0, 208, 255, 0.352);  
}

.experienceContainer .roadmapLogo .logo{
    margin: 13px 0;
    padding: 1px; 
    border-radius: 50%;
    box-shadow: 0px 0px 37px 7px rgba(0, 208, 255, 0.352);  
}

.experienceContainer .v2{
    background-color: var(--main-color);
    height: 50%;
} */
 
/* ============Media Query================= */

@media only screen and (max-width: 1217px) { 
    
  }


  @media only screen and (max-width: 1000px) {
    
  }

  @media only screen and (max-width: 900px) {
     
  }

  @media only screen and (max-width: 700px) {
        .experienceContainer .roadmapLogo{
            display: none;
        }

        .experienceContainer { 
            padding-left: 0; 
            min-height: auto;
        }
        .experienceContainer .bottom{
            display: flex;
            justify-content: center;
            align-items: center;
        }
  }

  @media only screen and (max-width: 600px) {
    
  }
  @media only screen and (max-width: 400px) {
        .bottom .subSection .left{
            display: none;
        }
  }
