.w100{
    font-weight: 100;
}

.w200{
    font-weight: 200;
}

.w300{
    font-weight: 300;
}

.w400{
    font-weight: 400;
}

.w500{
    font-weight: 500;
}

.w600{
    font-weight: 600;
}

.w700{
    font-weight: 700;
}

button{ 
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: black;
}

button:hover{
    cursor: pointer;
    color: black;
    background: var(--main-color);
}

a{
    text-decoration: none;
}

.text_center{
    text-align: center;
}
